h1{
    color: blueviolet;
    text-align: center;
}

h3, h4 {
    text-align: center;
}

img {
    width: 400px;

}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: powderblue;
    padding: 50px;
    border: 2px dashed black;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
#spanId, a{
    font-size: 18px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url("https://img.freepik.com/vector-gratis/patron-cocina-abstracto_1042-277.jpg?w=2000");
}
.divClass{
    margin-bottom: 10px;
    background-color: rgb(245, 240, 240);
    width: 500px;
    align-self: center;
    padding: 15px 50px;
    border: 1px solid black;
}


